h1
{
color:green;
text-align:center;
background:aqua;
padding-top:20px;
padding-bottom:20px;
}
td,table
{
background:chocolate;
color:azure;
text-align:center;
border:1px solid red;
height:50px;
width:50px;
padding:10px;
}
thead
{
background:grey;
color:lime;
text-align:center;
}
body{
background:url(https://media.istockphoto.com/id/1255173907/photo/black-bookshelves-in-the-library-panorama.jpg?b=1&s=170667a&w=0&k=20&c=d9KJqr0TswfufNcwCF6Jg22898doIfDdeVKsPnNUI24=);
background-size:cover;
}
h2
{
color:blue;
text-align:center;
background:pink;
padding-top:10px;
padding-bottom:10px;
}